{% extends 'base.html' %}

{% block title %}Cadastrar{% endblock %}

{% block content %}
<div class="row">
        <div class="center">
            <div class="col s12 m3"></div>
            <div class="col s12 m6 center">
                <div class="card pink lihgten-3">
                    <div class="card-content white-text">
                        <span class="card-title">Cadastrar</span>
							<form method="post">
							  {% csrf_token %}
							  {{ form.as_p }}
							  <button class="waves-effect black btn " type="submit">Cadastrar</button>
							</form>
					</div>
				</div>
			</div>
		</div>
</div>

{% endblock %}