{% extends 'base.html' %}
{% load static %}
{% block title %}Categoria{% endblock %}

{% block content %}
    <!-- Wrapper -->
    <div id="wrapper">
        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <a href="#">
                        Buscar jóias por categoria
                    </a>
                </li>
                {% if categoria %}
                        {% for c in categoria %}
                            <li>
                                <a href="{% url 'exibirPorCategoria' c.id %}">
                                    {{ c.categoria }}
                                </a>
                            </li>
                        {% endfor %}
                {% endif %}
            </ul>
        </div>
        <a href="#menu-toggle" class="btn btn-secondary" id="menu-toggle">Buscar por Categoria</a>
        <!-- /#sidebar-wrapper -->
        <!-- Main -->
        <section id="main">

            <!-- Items -->
            <div class="items">

                {% if produto %}
                        {% for p in produto %}
                            <article class="item thumb span-2">
                                <h2>{{ p.nome }}</h2>
                                <a href={% static "images/fulls/02.jpg" %} class="image"><img src={% static "images/thumbs/02.jpg" %} alt=""></a>
                            </article>
                        {% endfor %}
                {% endif %}
            </div>

            <!-- Items -->
            <div class="items">

                <article class="item thumb span-3"><h2>Joia Y</h2><a href={% static "images/fulls/05.jpg" %} class="image"><img src={% static "images/thumbs/05.jpg" %} alt=""></a></article>
                <article class="item thumb span-1"><h2>Joia Y</h2><a href={% static "images/fulls/06.jpg" %} class="image"><img src={% static "images/thumbs/06.jpg" %} alt=""></a></article>
                <article class="item thumb span-2"><h2>Joia Y</h2><a href={% static "images/fulls/07.jpg" %} class="image"><img src={% static "images/thumbs/07.jpg" %} alt=""></a></article>
                <article class="item thumb span-2"><h2>Joia Y</h2><a href={% static "images/fulls/08.jpg" %} class="image"><img src={% static "images/thumbs/08.jpg" %} alt=""></a></article>
                <article class="item thumb span-1"><h2>Joia Y</h2><a href={% static "images/fulls/01.jpg" %} class="image"><img src={% static "images/thumbs/01.jpg" %} alt=""></a></article>
                <article class="item thumb span-2"><h2>Joia Y</h2><a href={% static "images/fulls/02.jpg" %} class="image"><img src={% static "images/thumbs/02.jpg" %} alt=""></a></article>
                <article class="item thumb span-1"><h2>Joia Y.</h2><a href={% static "images/fulls/03.jpg" %} class="image"><img src={% static "images/thumbs/03.jpg" %} alt=""></a></article>
                <article class="item thumb span-2"><h2>Joia Y</h2><a href={% static "images/fulls/05.jpg" %} class="image"><img src={% static "images/thumbs/05.jpg" %} alt=""></a></article>
                <article class="item thumb span-1"><h2>Joia Y</h2><a href={% static "images/fulls/04.jpg" %} class="image"><img src={% static "images/thumbs/04.jpg" %} alt=""></a></article>

            </div>
        </section>
    </div>

    <!-- Scripts -->
    <script src={% static "assets/js/jquery.min.js" %}></script>
    <script src={% static "assets/js/jquery.poptrox.min.js" %}></script>
    <script src={% static "assets/js/browser.min.js" %}></script>
    <script src={% static "assets/js/breakpoints.min.js" %}></script>
    <script src={% static "assets/js/util.js" %}></script>
    <script src={% static "assets/js/main.js" %}></script>
    <script type="text/javascript" src={% static "js/materialize.min.js" %}></script>
    <script type="text/javascript" src={% static "js/materialize.min.js" %}></script>
    <!-- Bootstrap core JavaScript -->
    <script src={% static "vendor/jquery/jquery.min.js" %}></script>
    <script src={% static "vendor/bootstrap/js/bootstrap.bundle.min.js" %}></script>

    <!-- Menu Toggle Script -->
    <script>
        $("#menu-toggle").click(function(e) {
            e.preventDefault();
            $("#wrapper").toggleClass("toggled");
        });
    </script>
{% endblock %}