{% extends 'base.html' %}
{% load static %}

{% block content %}
    {% if produto %}
        {% for p in produto %}
            <div class="container">
                  <ul>
                      <li>
                          {{p.nome}}
                      </li>
                      <li>
                          {{p.preco}}
                      </li>
                      <li>
                          {{p.descricao}}
                      </li>
                      <li>
                          {{p.qt_estoque}} Disponíveis
                      </li>
                      {% if user.is_authenticated %}
                          <a href="{% url 'adicionarAoCarrinho' p.id %}"><button>Adicionar ao Carrinho</button></a>
                      {%  else %}
                        <button>Adicionar ao Carrinho</button>
                      {%  endif %}
                  </ul>
            </div>
        {% endfor %}
    {% endif %}
{% endblock %}