{% extends 'base.html' %}
{% load static %}

{% block content %}
    <h3 style="margin-left: 30%">Produtos no seu Carrinho</h3>
    {% if produtos %}
        {% for p in produtos %}
            <div class="col s10">
                <span>{{ p.produto.nome }}</span>
                <a href="{% url 'removerDoCarrinho' p.produto.id %}"><button>Remover</button></a>
            </div>
        {% endfor %}
    {% endif %}
    <div class="col s8">
        <h4>Valor total do carrinho</h4>
        <h5>{{ valorTotal }}</h5>
        {% for p in produtos%}
        <a href="{% url 'pagarCompra' p.produto.id %}"><button>Finalizar compra</button></a>
        {% endfor %}
    </div>
{% endblock %}