<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Cadastrar Usuário</title>
    </head>
    <body>
        {% block content %}
            <h1>Cadastrar Usuário</h1>
            <form method="POST" class="post-form">{% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="">Salvar</button>
            </form>
        {% endblock %}
    </body>
</html>
