<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    {% block content %}
    {% if produto %}
        <ul>
        {% for p in produto %}
        <li>
            {{ p.nome }}
        </li>
        {% endfor %}
        </ul>
    {% endif %}
{% endblock %}
</body>
</html>