{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href={% static "css/app.css" %} />
    <link type="text/css" rel="stylesheet" href={% static "assets/css/main.css" %} />
    <link type="text/css" rel="stylesheet" href={% static "assets/css/noscript.css" %} />
    <link type="text/css" rel="stylesheet" href={% static "css/materialize.min.css" %}  media="screen,projection"/>
    <link type="text/css" rel="stylesheet" href={% static "css/simple-sidebar.css" %} />

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>{% block title %}Ricas Jóias{% endblock %}</title>
</head>
<body>
        <nav class="transparent">
            {% if user.is_authenticated %}
                Olá {{ user.username }}!
                <a href="{% url 'logout' %}"><button class="waves-effect pink btn right">Logout</button></a>
                <a href="{% url 'meuCarrinho' %}"><button class="waves-effect pink btn right">Meu Carrinho</button></a>
            {% else %}
            <a href="{% url 'cadastrar' %}"><button class="waves-effect pink btn right"> Cadastre-se</button></a>
            <a href="{% url 'login' %}"><button class="waves-effect pink btn right"> Login</button></a>
            {% endif %}
        </nav>
<main>
    {% block content %}
    {% endblock %}
</main>
        <!-- Footer -->
        <section id="footer">
            <section>
                <p>This is <strong>Parallelism</strong>, a responsive portfolio site template by <a href="http://html5up.net">HTML5 UP</a>. Free for personal
                    and commercial use under the <a href="http://html5up.net/license">Creative Commons Attribution</a> license.</p>
            </section>
            <section>
                <ul class="icons">
                    <li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
                    <li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
                    <li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
                    <li><a href="#" class="icon fa-dribbble"><span class="label">Dribbble</span></a></li>
                    <li><a href="#" class="icon fa-envelope"><span class="label">Email</span></a></li>
                </ul>
                <ul class="copyright">
                    <li>&copy; Untitled</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
                </ul>
            </section>
        </section>

        <!--JavaScript at end of body for optimized loading-->
<script type="text/javascript" src={% static "js/materialize.min.js" %}></script>
</body>
</html>